[Desktop Entry]
Type=Application
Name=music-dl-desktop-rust
Comment=A desktop GUI for music-dl
Exec=music-dl-desktop-rust
Icon=music-dl-desktop-rust
Terminal=false
Categories=AudioVideo;
